header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 850px;
  margin: 0 auto;

  li {
    display: inline;
  }

  li + li {
    margin-left: 1rem;
  }
}

img {
  width: 100%;
}

main {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}

.project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1rem;
}
